<main data-title = "{{title}}" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
   
    <h2 class="title m-5">ТМЦ</h2>
    <div class="table-responsive">
      <table class="table table-bordered">
          <col width="5%" /> 
          <col width="6%" /> 
          <col width="7%" /> 
          <col width="5%" /> 
          <col width="20%" /> 
          <col width="5%" /> 
        <thead>
          <tr>
            
            <th>Назва</th>
            <th>Артикул</th>
           
          </tr>
        </thead>
          {% for tmc in fignua %}
        
        <tbody>
       
             <tr>
              <td>{{tmc.create_at}}</td>
              <td><a 
              href="{% url 'core:tmc_e'  tmc_id=tmc.pk %}"
              hx-get="{% url 'core:tmc_e' tmc_id=tmc.pk  %}"
              hx-target="#main-content"
              hx-push-url="true"
              hx-indicator = "#content-loader"
              hx-on="htmx:beforeRequest: event.detail.target.innerHTML = ''"
              >{{tmc.name}}</a><br> fff {{tmc.name}}</td>


              <td>{{tmc.name}}</td>
              <td>{{tmc.name}}</td>
              <td>
                    fffff :{{tmc.name}} <br>
                    fffffff :{{tmc.name}}<br>
                    fffffffff :{{tmc.name}}<br>
                    
              </td>
              <td>{{tmc.name}}</td>
            </tr>
   

        </tbody> 
     
         {% endfor in %} 
      </table>
      <a href="{% url 'core:create_tmc'%}" class="btn btn-primary">Створити</a>
    </div>
</main>